#messages>p {
  margin: 10px;
  color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: left;
}

.contentBox {
  border: 3px solid rgb(100, 100, 100);
  border-radius: 5px;
  background-color: darkgray;
}

.view {
  align-items: center;
  display: flex;
  background-color: rgb(64, 64, 64);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.transpartentView {
  align-items: center;
  display: flex;
  background-color: #0000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.hide {
  display: none;
}

.card {
  background-image: url(charecters.png);
  width: 200px;
  height: 200px;
  background-size: 1600px, 600px;
  border: 5px solid rgb(100, 100, 100);
  border-radius: 5px;
  margin: auto;
}

.card>p {
  font-size: medium;
  position: relative;
  top: calc(100% - 35px);
  user-select: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

p {
  text-align: center;
  font-family: sans-serif;
}

.emptyText {
  color: darkgray;
}

.card.notIt {
  filter: grayscale(100%) opacity(50%);
}

@keyframes showTurnAnimation {
  0% {
    right: 100%;
  }

  40% {
    right: 0%;
  }

  60% {
    right: 0%;
  }

  100% {
    right: -100%;
  }
}

.turnAnimation {
  animation: 5s ease-in-out 0s showTurnAnimation;
}

.button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: lightgray;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  cursor: pointer;
}